<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="fragments/html_head"/>
<link rel="stylesheet" type="text/css" href="styles/index.css" />
</head>
<body>
	<div th:replace="fragments/menu_bar"></div>
	<div id="content">
		<h2>How to pick your baby girl's name:</h2>
		<ol>
			<li>Take a look at the <a href="notd">Name of the Day</a>, or generate a new random name.</li>
			<li>Add a name or modify and add an existing name to the <a href="competition">Name Competition</a></li>
			<li>Watch the current <a href="ranking">Name ranking</a> to see your most preferred names.</li>
		</ol>
	</div>
</body>
</html>